body{
  background-color: #B7F892;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  /*background-color: lightblue;*/
}

.nav a {
  text-color: white;
}

.aviso {
  margin-bottom: 20px;
}
.aviso:hover {
    /*border: 1px;*/
    box-shadow: 5px 6px 13px 6px rgba(63, 165, 3, 0.5);
    transform: translateY(-15px);
}

.jumbotron2 {
  color:green;
  font-size: 20px;
  text-align: center;
}
.btn-primary2{
  background-color:#256102;
}

.btn-prymary2{

  background-color:#256102;
}


@media screen and (min-width: 0px) and (max-width: 767px) {
  #myCarousel { display: none; }   /* hide it elsewhere */
}

@media screen and (min-width: 768px) {
  #myCarousel { display: block; }  /* show it on small screens */
}
